* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal__content{
    background-color: brown;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border: 1px solid black;
}
.close{
    color: #ff0000;
    float: right;
    font-size: 28px;
    
}